*{
    scroll-padding-top:2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 0.05em;
}
.text-centrat{
    text-align: center;
}
.contingut{
    min-height: 75vh;
}
body{
    background-color: #fbf8f8;
}